---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';

const {postMeta = 
{"title" : "Index - page title",
  "description" : "",
  "ogTitle" : "",
  "ogDescription" : "",
  "ogUrl" : "",
  "ogImage" : '/images/defaultFB.jpg'
} 
} = Astro.props;
---

<Layout title="Welcome to Astro." postMeta = { postMeta }>
<main>	
		<div class="container">
			<h1>Hello world.</h1>
		</div>
</main>

</Layout>
